<link rel="stylesheet" href="~/css/home_index.css" />

@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<CS_webapp.Models.Category>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Category List <span style="font-size:18px">(@Model.Count() items)</span></h2>
        </div>
        <div class="col-6 text-right">
        <a asp-controller="Home" asp-action="Create" class="btn btn-primary">
            <i class="fas fa-plus"></i> &nbsp;Add New Category
        </a>
        </div>
    </div>
</div>


@if (Model.Count() > 0)
{

    <table class="table table-bordered table-striped text-center">
        <thead>
            <tr>
                <th>Ime</th>
                <th>Številka naročila</th>
                <th>Uredi &nbsp;&nbsp; / &nbsp;&nbsp; Izbriši</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td style="vertical-align:middle; font-size:20px">@obj.Name</td>
                    <td style="vertical-align:middle; font-size:20px">@obj.DisplayOrder</td>
                    <td class="text-center">
                        <div class="w-15 btn-group" role="group">
                            <a asp-controller="Home" asp-route-Id="@obj.Id" asp-action="Edit" class="btn btn-primary mx-4">
                                <i class="far fa-edit"></i> &nbsp; Edit
                            </a>
                        </div>
                            <a asp-controller="Home" asp-route-Id="@obj.Id" asp-action="Delete">
                                <img src="~/img/smetnjak.png" style="width:5%;height:5%" />
                            </a>
                        
                    </td>
                </tr>
            }
        </tbody>

    </table>
}

else
{
    <h4><br></br></h4>
    <h4 class="text-center" style="font-size:17px">Category list is empty!</h4>
}
