@*
@model IEnumerable<CS_webapp.Models.Podatki>
*@

@model CS_webapp.Models.Podatki

<h1>You have successfully log in Top secret database as:</h1>
<br></br>

@*
<h4><label asp-for="LoginModel.UserName"></label>: &nbsp;&nbsp; @Model.LoginModel.UserName</h4>
<h4><label asp-for="LoginModel.Password"></label>: &nbsp;&nbsp; @Model.LoginModel.Password</h4>
*@

<h4>Uporabniško ime: &nbsp;&nbsp; @TempData["user"]</h4>
<h4>Geslo: &nbsp;&nbsp; @TempData["pass"]</h4>
<br></br>
<h3>Message:</h3><br></br><h4>@TempData["mes"]</h4>

<!--******************************************************************************************-->
<form method="post">
    <input asp-for="Id" type="hidden" />
    <input asp-for="Name" type="hidden" />
     <div class="border p-3">
         <div asp-validation-summary="ModelOnly" class="text-danger"></div>
         
         <div class="form-group row">
             <h2 class="text-info pl-3">Vnesi spremembe v sporočilu..</h2>
         </div>

         <div class="row">
             <div class="col-8">

                 <div class="form-group row">
                     <div class="col-4">
                     <label asp-for="Secret"></label>
                     </div>
                     <div class="col-8">
                     <input asp-for="Secret" class="form-control"/>
                     <span asp-validation-for="Secret" class="text-danger"></span>
                     </div>
                 </div>

                  <div class="form-group row">
                      <div class="col-8 offset-4 row">
                          <div class="col">
                              <input type="submit" class="btn btn-info w-100" value="Pošlji"/>
                          </div>
                      </div>
                  </div>
             </div>
         </div>
     </div>

</form>

<!--******************************************************************************************-->

<br></br>
<img class="img0" src="~/img/ze_videno.png" style="width:45%;height:45%" />

<h1 style="font-size:36px"><embed src="~/text/test.txt"></h1>





<div class="col">
<a asp-action="Login" class="btn btn-danger w-100"><i class="fas fa-arrow-left"></i> &nbsp; Logout</a>
</div>